.card {
  list-style: none;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  height: 100%;
}

.card a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card:hover {
  transform: translateY(-4px);
}

.image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.body {
  padding: 0.75em;
}

.title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.footer {
  padding: 0 1rem;
  margin-block-start: auto;
}

.description {
  font-size: 0.9rem;
  color: #666;
}

.price {
  font-size: 1rem;
  color: #000;
  font-weight: bold;
  margin-block-start: auto;
  text-align: right;
}

.discountedPrice {
  font-size: 0.9rem;
  color: #e74c3c;
  font-weight: bold;
}

.discountedPrice span {
  font-weight: normal;
  color: #777;
}
