.containerWithReviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px 50px 50px;
  max-width: 900px;
  margin: 30px auto;
  background-color: var(--color-base);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.goBackButtonContainer {
  max-width: 900px;
  display: flex;
  margin: 10px auto;
  margin-top: 30px;
}

.goBackButton {
  display: inline-block;
  font-weight: 400;
  padding: 10px 20px;
  font-size: 1em;
  background-color: var(--color-secondary);
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.goBackButton:hover {
  color: black;
  background-color: var(--color-hover);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.imageContainer {
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: var(--color-base);
}

.image {
  width: 100%;
  object-fit: contain;
}

.title {
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--color-text);
}

.description {
  max-width: 300px;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #555;
  text-align: center;
}

.priceContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.price {
  font-weight: bold;
  font-size: 1.7em;
}

.originalPrice {
  font-size: 1.2em;
  color: #999;
  text-decoration: line-through;
}

.discountedPrice {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--color-primary);
}

.quantityContainer {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.quantityContainer button {
  width: 45px; 
  height: 45px;
  font-size: 1rem;
  background-color: var(--color-detail);
  border: 1px solid white;
  border-radius: 20%;
  color: white;
  font-weight: 600;
}

.quantityContainer button:hover {
  cursor: pointer;
  }

.quantityContainer button:active {
  background-color: var(--color-hover);
  color: white;
}

.quantityContainer span {
  margin: 0 10px;
  font-size: 1.2rem;
}

.addToCartButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--color-button);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addToCartButton:hover {
  background-color: var(--color-hover);
  color: black;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tag {
  background-color: var(--color-secondary);
  color: var(--color-text);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-top: 26px;
}

.reviewsContainer {
  margin-top: 30px;
  width: 100%;
}

.reviewsTitle {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--color-text);
}

.reviewsList {
  list-style: none;
  padding: 0;
}

.reviewItem {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid white
}

.reviewText {
  font-size: 1rem;
  color: var(--color-text);
}

.reviewAuthor {
  font-size: 0.9rem;
  color: #777;
  text-align: right;
}

.noReviewsText {
  font-size: 1rem;
  color: #777;
  text-align: left;
}

@media (min-width: 768px) {
  .containerWithReviews {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .contentContainer {
    max-width: 50%;
  }

  .reviewsContainer {
    max-width: 45%;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .containerWithReviews {
    max-width: 450px;
  }

  .goBackButtonContainer {
    max-width: 450px;
  }
}
